@model BanducciModels.Locations
@{
    ViewBag.Title = "Delete";
}

<h2 class="top_head">Delete</h2>
<hr />

<div>
 
    @using (Html.BeginForm("DeleteStore", "Locations", FormMethod.Post, new { }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.storeid, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.storeid)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.address)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.city)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.state)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zipcode, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.zipcode)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DisplayFor(model => model.phone)
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.storeid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.storeid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

    </dl>*@


</div>

<script>
    document.getElementById('body').style.background = 'none';
</script>